<% include ./partials/header %>

<body class="register-page">
	<div class="container register-container">
			<div class="container register-form">
				
				<div class="text-center register-title">
					<h1 class="special-title">Sign Up</h1>
				</div>
				
				<form action="/register" method="POST">
						<div class="form-group register-item">
								<input class="form-control" type="text" name="username" placeholder="Username" required>
						</div>

						<div class="form-group register-item">
								<input class="form-control" type="password" name="password" placeholder="Password" required>
						</div>
					
						<div class="form-group register-item">
								<input class="form-control" type="password" name="passwordConfirmed" placeholder="Comfirm password" required>
						</div>

						<div class="form-group register-item">
								<input class="form-control" type="email" name="email" placeholder="E-mail address" required>
						</div>

						<!-- <div class="form-group register-item">
								<input class="form-control" type="text" name="admincode" placeholder="Admin Code">
						</div> -->

						<div class="form-group register-item">
								<button class="btn btn-lg btn-primary btn-block btn-form title-text">Sign Up</button>
						</div>
						<span class="text-center">
							<p class="normal-info">
								Have an account? <a href="/login" class="normal-link">Sign In</a>
							</p>
						</span>
							
				</form>
		</div>
	</div>
</body>

<% include ./partials/footer %>